In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import keras

Using TensorFlow backend.
C:\Users\haris\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\haris\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [4]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [5]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
dataset.shape

(10000, 14)

In [8]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [9]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [10]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [11]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [12]:
## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

In [13]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [14]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [15]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [16]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
# Initialising the ANN
classifier = Sequential()

In [22]:
classifier

In [21]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))

In [23]:
# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="he_uniform"))

In [24]:
# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="glorot_uniform"))

In [26]:
# Compiling the ANN
classifier.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [27]:
# Fitting the ANN to the Training set
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, nb_epoch = 100)

C:\Users\haris\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

WARNING:tensorflow:From C:\Users\haris\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 244us/step - loss: 0.4960 - accuracy: 0.7962 - val_loss: 0.4741 - val_accuracy: 0.7944
Epoch 2/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.4523 - accuracy: 0.7970 - val_loss: 0.4529 - val_accuracy: 0.7899
Epoch 3/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.4369 - accuracy: 0.7947 - val_loss: 0.4442 - val_accuracy: 0.7940
Epoch 4/100
5359/5359 [==============================] - 1s 126us/step - loss: 0.4286 - accuracy: 0.8003 - val_loss: 0.4380 - val_accuracy: 0.7944
Epoch 5/100
5359/5359 [==============================] - 1s 190us/step - loss: 0.4204 - accuracy: 0.8015 - val_loss: 0.4323 - val_accuracy: 0.7993
Epoch 6/100
5359/5359 [==============================] - 1s 115us/step - loss: 0.4110 - accuracy: 0.8052 - val_loss: 0.4248 - val_accuracy: 0.7936
Epoch 7/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.4017 - accuracy: 0.8106 - val_loss: 0.4145 - val_accuracy: 0.8005
Epoch 8/100
5359/5359 [==============================] - 1s 138us/step - loss: 0.3916 - accuracy: 0.8147 - val_loss: 0.4055 - val_accuracy: 0.8035
Epoch 9/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3822 - accuracy: 0.8138 - val_loss: 0.3969 - val_accuracy: 0.8239
Epoch 10/100
5359/5359 [==============================] - 1s 136us/step - loss: 0.3739 - accuracy: 0.8419 - val_loss: 0.3914 - val_accuracy: 0.8315
Epoch 11/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3675 - accuracy: 0.8475 - val_loss: 0.3878 - val_accuracy: 0.8353
Epoch 12/100
5359/5359 [==============================] - 1s 137us/step - loss: 0.3623 - accuracy: 0.8496 - val_loss: 0.3839 - val_accuracy: 0.8383
Epoch 13/100
5359/5359 [==============================] - 1s 250us/step - loss: 0.3584 - accuracy: 0.8517 - val_loss: 0.3804 - val_accuracy: 0.8421
Epoch 14/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3547 - accuracy: 0.8539 - val_loss: 0.3782 - val_accuracy: 0.8432
Epoch 15/100
5359/5359 [==============================] - 1s 113us/step - loss: 0.3516 - accuracy: 0.8556 - val_loss: 0.3758 - val_accuracy: 0.8444
Epoch 16/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.3492 - accuracy: 0.8576 - val_loss: 0.3741 - val_accuracy: 0.8470
Epoch 17/100
5359/5359 [==============================] - 1s 165us/step - loss: 0.3467 - accuracy: 0.8565 - val_loss: 0.3726 - val_accuracy: 0.8497
Epoch 18/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3451 - accuracy: 0.8561 - val_loss: 0.3717 - val_accuracy: 0.8489
Epoch 19/100
5359/5359 [==============================] - 1s 199us/step - loss: 0.3439 - accuracy: 0.8572 - val_loss: 0.3707 - val_accuracy: 0.8497
Epoch 20/100
5359/5359 [==============================] - 1s 232us/step - loss: 0.3426 - accuracy: 0.8580 - val_loss: 0.3688 - val_accuracy: 0.8501
Epoch 21/100
5359/5359 [==============================] - 1s 133us/step - loss: 0.3416 - accuracy: 0.8593 - val_loss: 0.3669 - val_accuracy: 0.8489
Epoch 22/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3404 - accuracy: 0.8599 - val_loss: 0.3667 - val_accuracy: 0.8508
Epoch 23/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3392 - accuracy: 0.8595 - val_loss: 0.3663 - val_accuracy: 0.8519
Epoch 24/100
5359/5359 [==============================] - 1s 142us/step - loss: 0.3387 - accuracy: 0.8599 - val_loss: 0.3656 - val_accuracy: 0.8516
Epoch 25/100
5359/5359 [==============================] - 1s 133us/step - loss: 0.3386 - accuracy: 0.8595 - val_loss: 0.3642 - val_accuracy: 0.8561
Epoch 26/100
5359/5359 [==============================] - 1s 229us/step - loss: 0.3378 - accuracy: 0.8614 - val_loss: 0.3625 - val_accuracy: 0.8527
Epoch 27/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3373 - accuracy: 0.8604 - val_loss: 0.3624 - val_accuracy: 0.8535
Epoch 28/100
5359/5359 [==============================] - 1s 190us/step - loss: 0.3367 - accuracy: 0.8593 - val_loss: 0.3612 - val_accuracy: 0.8519
Epoch 29/100
5359/5359 [==============================] - 1s 206us/step - loss: 0.3363 - accuracy: 0.8599 - val_loss: 0.3618 - val_accuracy: 0.8535
Epoch 30/100
5359/5359 [==============================] - 1s 221us/step - loss: 0.3359 - accuracy: 0.8621 - val_loss: 0.3602 - val_accuracy: 0.8546
Epoch 31/100
5359/5359 [==============================] - 1s 198us/step - loss: 0.3349 - accuracy: 0.8608 - val_loss: 0.3608 - val_accuracy: 0.8557
Epoch 32/100
5359/5359 [==============================] - 1s 246us/step - loss: 0.3345 - accuracy: 0.8614 - val_loss: 0.3587 - val_accuracy: 0.8580
Epoch 33/100
5359/5359 [==============================] - 1s 173us/step - loss: 0.3343 - accuracy: 0.8619 - val_loss: 0.3579 - val_accuracy: 0.8554
Epoch 34/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3334 - accuracy: 0.8604 - val_loss: 0.3568 - val_accuracy: 0.8580
Epoch 35/100
5359/5359 [==============================] - 1s 139us/step - loss: 0.3330 - accuracy: 0.8600 - val_loss: 0.3565 - val_accuracy: 0.8557
Epoch 36/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3326 - accuracy: 0.8615 - val_loss: 0.3565 - val_accuracy: 0.8573
Epoch 37/100
5359/5359 [==============================] - 1s 141us/step - loss: 0.3324 - accuracy: 0.8615 - val_loss: 0.3560 - val_accuracy: 0.8603
Epoch 38/100
5359/5359 [==============================] - 1s 111us/step - loss: 0.3314 - accuracy: 0.8625 - val_loss: 0.3559 - val_accuracy: 0.8622
Epoch 39/100
5359/5359 [==============================] - 1s 185us/step - loss: 0.3318 - accuracy: 0.8625 - val_loss: 0.3560 - val_accuracy: 0.8588
Epoch 40/100
5359/5359 [==============================] - 1s 142us/step - loss: 0.3314 - accuracy: 0.8615 - val_loss: 0.3554 - val_accuracy: 0.8573
Epoch 41/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3314 - accuracy: 0.8614 - val_loss: 0.3548 - val_accuracy: 0.8576
Epoch 42/100
5359/5359 [==============================] - 1s 131us/step - loss: 0.3307 - accuracy: 0.8619 - val_loss: 0.3550 - val_accuracy: 0.8576
Epoch 43/100
5359/5359 [==============================] - 1s 112us/step - loss: 0.3306 - accuracy: 0.8602 - val_loss: 0.3568 - val_accuracy: 0.8607
Epoch 44/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3304 - accuracy: 0.8615 - val_loss: 0.3555 - val_accuracy: 0.8546
Epoch 45/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3297 - accuracy: 0.8625 - val_loss: 0.3545 - val_accuracy: 0.8591
Epoch 46/100
5359/5359 [==============================] - 1s 115us/step - loss: 0.3295 - accuracy: 0.8612 - val_loss: 0.3543 - val_accuracy: 0.8561
Epoch 47/100
5359/5359 [==============================] - 1s 161us/step - loss: 0.3295 - accuracy: 0.8614 - val_loss: 0.3549 - val_accuracy: 0.8550
Epoch 48/100
5359/5359 [==============================] - 1s 166us/step - loss: 0.3294 - accuracy: 0.8621 - val_loss: 0.3561 - val_accuracy: 0.8580
Epoch 49/100
5359/5359 [==============================] - 1s 126us/step - loss: 0.3292 - accuracy: 0.8617 - val_loss: 0.3536 - val_accuracy: 0.8580
Epoch 50/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3287 - accuracy: 0.8642 - val_loss: 0.3541 - val_accuracy: 0.8565
Epoch 51/100
5359/5359 [==============================] - 1s 136us/step - loss: 0.3285 - accuracy: 0.8647 - val_loss: 0.3535 - val_accuracy: 0.8580
Epoch 52/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3287 - accuracy: 0.8628 - val_loss: 0.3544 - val_accuracy: 0.8584
Epoch 53/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3286 - accuracy: 0.8625 - val_loss: 0.3543 - val_accuracy: 0.8538
Epoch 54/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3283 - accuracy: 0.8630 - val_loss: 0.3541 - val_accuracy: 0.8576

Epoch 55/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3279 - accuracy: 0.8625 - val_loss: 0.3532 - val_accuracy: 0.8599
Epoch 56/100
5359/5359 [==============================] - 1s 138us/step - loss: 0.3280 - accuracy: 0.8640 - val_loss: 0.3533 - val_accuracy: 0.8591
Epoch 57/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3273 - accuracy: 0.8640 - val_loss: 0.3536 - val_accuracy: 0.8610
Epoch 58/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3276 - accuracy: 0.8630 - val_loss: 0.3537 - val_accuracy: 0.8610
Epoch 59/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3275 - accuracy: 0.8614 - val_loss: 0.3535 - val_accuracy: 0.8584
Epoch 60/100
5359/5359 [==============================] - 1s 137us/step - loss: 0.3267 - accuracy: 0.8634 - val_loss: 0.3543 - val_accuracy: 0.8546
Epoch 61/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3273 - accuracy: 0.8632 - val_loss: 0.3550 - val_accuracy: 0.8546
Epoch 62/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3266 - accuracy: 0.8643 - val_loss: 0.3531 - val_accuracy: 0.8603
Epoch 63/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3267 - accuracy: 0.8660 - val_loss: 0.3526 - val_accuracy: 0.8591
Epoch 64/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.3270 - accuracy: 0.8651 - val_loss: 0.3531 - val_accuracy: 0.8591
Epoch 65/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3262 - accuracy: 0.8643 - val_loss: 0.3517 - val_accuracy: 0.8622
Epoch 66/100
5359/5359 [==============================] - 1s 133us/step - loss: 0.3259 - accuracy: 0.8636 - val_loss: 0.3528 - val_accuracy: 0.8618
Epoch 67/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3259 - accuracy: 0.8640 - val_loss: 0.3520 - val_accuracy: 0.8622
Epoch 68/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3260 - accuracy: 0.8642 - val_loss: 0.3523 - val_accuracy: 0.8599
Epoch 69/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3254 - accuracy: 0.8634 - val_loss: 0.3530 - val_accuracy: 0.8591
Epoch 70/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3255 - accuracy: 0.8651 - val_loss: 0.3528 - val_accuracy: 0.8576
Epoch 71/100
5359/5359 [==============================] - 1s 183us/step - loss: 0.3256 - accuracy: 0.8621 - val_loss: 0.3517 - val_accuracy: 0.8603
Epoch 72/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3253 - accuracy: 0.8640 - val_loss: 0.3527 - val_accuracy: 0.8573
Epoch 73/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3251 - accuracy: 0.8658 - val_loss: 0.3518 - val_accuracy: 0.8633
Epoch 74/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3249 - accuracy: 0.8651 - val_loss: 0.3534 - val_accuracy: 0.8614
Epoch 75/100
5359/5359 [==============================] - 1s 144us/step - loss: 0.3241 - accuracy: 0.8651 - val_loss: 0.3524 - val_accuracy: 0.8550
Epoch 76/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3247 - accuracy: 0.8655 - val_loss: 0.3519 - val_accuracy: 0.8629
Epoch 77/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3241 - accuracy: 0.8638 - val_loss: 0.3518 - val_accuracy: 0.8618
Epoch 78/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3245 - accuracy: 0.8623 - val_loss: 0.3515 - val_accuracy: 0.8610
Epoch 79/100
5359/5359 [==============================] - 1s 180us/step - loss: 0.3243 - accuracy: 0.8634 - val_loss: 0.3509 - val_accuracy: 0.8607
Epoch 80/100
5359/5359 [==============================] - 1s 115us/step - loss: 0.3228 - accuracy: 0.8638 - val_loss: 0.3508 - val_accuracy: 0.8629
Epoch 81/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3241 - accuracy: 0.8645 - val_loss: 0.3507 - val_accuracy: 0.8607
Epoch 82/100
5359/5359 [==============================] - 1s 111us/step - loss: 0.3233 - accuracy: 0.8643 - val_loss: 0.3499 - val_accuracy: 0.8633
Epoch 83/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3232 - accuracy: 0.8653 - val_loss: 0.3509 - val_accuracy: 0.8633
Epoch 84/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3235 - accuracy: 0.8630 - val_loss: 0.3509 - val_accuracy: 0.8648
Epoch 85/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3232 - accuracy: 0.8645 - val_loss: 0.3504 - val_accuracy: 0.8622
Epoch 86/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3233 - accuracy: 0.8653 - val_loss: 0.3522 - val_accuracy: 0.8599
Epoch 87/100
5359/5359 [==============================] - 1s 223us/step - loss: 0.3229 - accuracy: 0.8638 - val_loss: 0.3504 - val_accuracy: 0.8607
Epoch 88/100
5359/5359 [==============================] - 1s 132us/step - loss: 0.3232 - accuracy: 0.8642 - val_loss: 0.3506 - val_accuracy: 0.8648
Epoch 89/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3229 - accuracy: 0.8656 - val_loss: 0.3501 - val_accuracy: 0.8603
Epoch 90/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3225 - accuracy: 0.8647 - val_loss: 0.3511 - val_accuracy: 0.8599
Epoch 91/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3233 - accuracy: 0.8640 - val_loss: 0.3504 - val_accuracy: 0.8637
Epoch 92/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3228 - accuracy: 0.8642 - val_loss: 0.3498 - val_accuracy: 0.8610
Epoch 93/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3220 - accuracy: 0.8632 - val_loss: 0.3500 - val_accuracy: 0.8610
Epoch 94/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.3228 - accuracy: 0.8649 - val_loss: 0.3494 - val_accuracy: 0.8610
Epoch 95/100
5359/5359 [==============================] - 1s 182us/step - loss: 0.3228 - accuracy: 0.8668 - val_loss: 0.3512 - val_accuracy: 0.8599
Epoch 96/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3224 - accuracy: 0.8636 - val_loss: 0.3498 - val_accuracy: 0.8610
Epoch 97/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3223 - accuracy: 0.8645 - val_loss: 0.3504 - val_accuracy: 0.8591
Epoch 98/100
5359/5359 [==============================] - 1s 143us/step - loss: 0.3221 - accuracy: 0.8630 - val_loss: 0.3500 - val_accuracy: 0.8580
Epoch 99/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3222 - accuracy: 0.8636 - val_loss: 0.3493 - val_accuracy: 0.8607
Epoch 100/100
5359/5359 [==============================] - 1s 134us/step - loss: 0.3219 - accuracy: 0.8634 - val_loss: 0.3510 - val_accuracy: 0.8580

In [28]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [29]:
unique, counts = np.unique(y_pred, return_counts=True)

dict(zip(unique, counts))

{False: 1669, True: 331}

In [30]:
unique, counts = np.unique(y_test, return_counts=True)

dict(zip(unique, counts))

{0: 1595, 1: 405}

In [31]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [32]:
cm

array([[1487,  108],
       [ 182,  223]], dtype=int64)

In [33]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [34]:
score

0.855

In [35]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [36]:
from keras.layers import Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu, sigmoid
from keras.layers import LeakyReLU

In [37]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [38]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [39]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [40]:
# Splitting the dataset again into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling again
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [41]:
y_train

7389    0
9275    0
2995    0
5316    0
356     0
       ..
9225    0
4859    0
3264    0
9845    0
2732    1
Name: Exited, Length: 8000, dtype: int64

In [42]:
X_train.shape[1]

11

In [43]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
    model.add(Dense(1)) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model
    
model = KerasClassifier(build_fn=create_model, verbose=0)

In [44]:
model

In [45]:
layers=[(150,), (160,100), (140,100,500)]
activations = ['sigmoid', 'relu']
param_grid = dict(layers=layers, activation=activations, batch_size = [128, 256], epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid,cv=5)

In [46]:
grid_result = grid.fit(X_train, y_train)

In [47]:
[grid_result.best_score_,grid_result.best_params_]

[0.8486250042915344,
 {'activation': 'relu', 'batch_size': 256, 'epochs': 30, 'layers': (160, 100)}]

In [48]:
pred_y = grid.predict(X_test)

In [49]:
pred_y

array([[1],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [50]:
y_pred = (pred_y > 0.5)

In [55]:
y_pred

array([[ True],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [51]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [52]:
cm

array([[1469,  126],
       [ 185,  220]], dtype=int64)

In [53]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [54]:
score

0.8445